<main id="userPage">
    <nav>
        <button onclick="setCurrent('dashboard')">Dashboard</button>
        <button onclick="setCurrent('experience')">Experience</button>
        <button onclick="setCurrent('education')">Education</button>
        <button onclick="setCurrent('skills')">Skills</button>
        <button onclick="setCurrent('languages')">Languages</button>
    </nav>
    <section id="dashboardSection"><%- include('dashboard') %></section>
    <section id="experienceSection" style="display:none;"><%- include('experience') %></section>
    <section id="educationSection" style="display:none;"><%- include('education') %></section>
    <section id="skillsSection" style="display:none;"><%- include('skills') %></section>
    <section id="languagesSection" style="display:none;"><%- include('languages') %></section>
</main>

<script>
    function setCurrent(name) {
        document.getElementById('dashboardSection').style.display = 'none';
        document.getElementById('experienceSection').style.display = 'none';
        document.getElementById('educationSection').style.display = 'none';
        document.getElementById('skillsSection').style.display = 'none';
        document.getElementById('languagesSection').style.display = 'none';
        document.getElementById(name + 'Section').style.display = 'block';
        document.querySelectorAll('nav button').forEach(button => {
            button.classList.remove('active');
        });
        document.querySelector(`nav button[onclick="setCurrent('${name}')"]`).classList.add('active');
    }
</script>
